data/raw/
data/staged/
data/processed/
__pycache__/
*.pyc
.env
.venv/
.DS_Store
airflow/logs/
airflow/airflow.cfg
airflow/airflow.db
airflow/logs/
airflow/simple_auth_manager_passwords.json.generated
